<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
 <!-- href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" -->
<link  th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
<!-- src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" -->
<!--     <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script> -->
    
<!--     <script th:src="@{/webjars/jquery/jquery.min.js}"></script> -->

<!-- <script src="/webjarsjs"></script> -->
<!-- <script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script> -->

<title>test webjars</title>
</head>
<body>
hello webjars
</body>
</html>