<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" ></meta>
<!-- 这里省略版本号，依靠locator -->
<link  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script src="/webjarsjs" ></script>
<!-- <script data-main="/js/app.js" src="/webjars/requirejs/require.min.js"></script> -->
<script type="text/javascript" th:src="@{/js/app.js}"></script>

<title>test webjars</title>
</head>
<body>
hello webjars !!!
</body>
</html>